<h2><%= t('view.devise.confirmations.new.resend') %></h2>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= t('view.devise.confirmations.new.resend') %></div>
<% end %>

<%= render "devise/shared/links" %>
