<div id="devise-mini">
  <div class="container">
    <div class="well">

    <% if @settings.initialized_flag %>
      <h3><%= t('view.devise.registrations.new.new_user_p') %></h3>
      <p><%= t('view.devise.registrations.new.new_user_message') %></p>
    <% else %>
      <h3><%= t('view.devise.registrations.new.new_crowdtilt_open_app') %></h3>
      <p><%= t('view.devise.registrations.new.new_app_message') %></p>
    <% end %>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :fullname %>
      <%= f.text_field :fullname, :autofocus => true %></div>

      <div><%= f.label :email %>
      <%= f.email_field :email %></div>

      <div><%= f.label :password %>
      <%= f.password_field :password %></div>

      <button class="btn btn-primary show_loader" data-loader="user_form" type="submit" ><%= t('view.devise.registrations.new.create_my_account') %></button>
      <span class="loader" data-loader="user_form" style="display:none"></span>
    <% end %>

    <p style="font-size: 12px">By creating this account, you agree to our <a href="http://open.crowdtilt.com/terms" target="_blank">Terms of Use</a> and <a href="http://open.crowdtilt.com/privacy" target="_blank">Privacy Policy</a></p>

     <br/><%= link_to t('view.devise.registrations.new.already_have_an_account_p'), new_session_path(resource_name) %><br />
    </div>
  </div>
</div>
